*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
header{

    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(173, 11, 11);
    padding: 20px 60px;
    z-index: 10;
    border-bottom: 1px solid ;

    
    
}

ul{
    padding: 20px;
    margin: 0 20px;
    color: rgb(173, 11, 11);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;

    margin-right: 450px;

}



.hero{

       height: 100vh;
       background: url(https://images.unsplash.com/photo-1707430393809-784967fe6fee?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGhpZ2glMjByZXMlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
       display: flex;
       justify-content: center;
       align-items: center;

    
}


.overlay{
    position: absolute;
    inset: 0;
    position: relative;
    
}


.hero-content{
    position: relative;
    text-align: center;
    color: rgb(80, 10, 10);
    max-width: 700px;

}

h1{
     font-size: 48px;
     margin-bottom: 20px;
     padding: 0px;
     margin: 0px;
     
    


}


.button{
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    

}

.primary{

    background: transparent;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(80, 10, 10);

}
.secondary{
     background: transparent;
     border: 1px solid #180109;
     box-shadow: inset;
     border-radius: 10px;
     border-color: rgb(80, 10, 10);
     color: rgb(80, 10, 10);
     padding: 10px;
     font-size: 15px;
     

    }

h2{ 
font-size: 40px;

}

a{
text-decoration: none;
color: rgb(241, 238, 238);
display: flex;
justify-content: center;


}
 button{color: blueviolet;}
 

 main{ color: rgb(248, 246, 250);
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      margin: 20px;
      font-size: 14px;




}




